<h1>Publics#search</h1>


<h2>Buscar restaurantes en la ciudad</h2>


<%#= form_tag(controller: "restaurants", action: "index")%> 
<%= form_tag({controller: "restaurants", action: "list_for_city"}, method: "get")%> 

<%= label_tag(:city_id, "Seleccione Ciudad") %>
<%= select_tag(:city_id, options_for_select(@cities )) %>
<%= submit_tag("Send") %>
<%# end %>