<h1><%= @restaurants[0].name %></h1>



<table BORDER="2">
<tr>
	<th>Nombre</th>
	<th>Barrio</th>
</tr>
<% @restaurants.each do |rest|%>


<tr>
	<td>
		<%= rest.name  %>
	</td>
	<TD>
		<%= rest.neightborhood %></TD>
	
<% end %>
</table>
